@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat&display=swap");

:root {
  --bg-main: #053b50;
  --color-main: #eeeeee;
  --bg-head-foot: #64ccc5;
  --color-foot: #141e46;
}

.dark-mode {
  --bg-main: #0b2447;
  --color-main: #e7f6f2;
  --bg-head-foot: #1d267d;
  --color-foot: #a5c9ca;
}

body {
  background-color: var(--bg-main);
  margin: 0;
  color: var(--color-main);
  font-family: "Montserrat";
}

button {
  padding: 10px;
  background-color: #176b87;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #053b50;
  margin-left: 10px;
}

button:hover {
  background-color: #053b50;
  cursor: pointer;
}

header {
  background-color: var(--bg-head-foot);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 50px;
  font-family: "Lilita One";
}

img.logo {
  height: 150px;
}

nav {
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  border: 1px solid #176b87;
  box-shadow: 2px 2px 5px #053b50;
  padding: 5px;
  color: #eeeeee;
  background-color: #176b87;
  border-radius: 5px;
  margin-left: 10px;
}

nav a:hover {
  background-color: #053b50;
}

section {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  background-color: #176b87;
  width: 90%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px black;
}

section img {
  border-radius: 5px;
  padding: 30px;
  margin-left: 30px;
  width: 300px;
}

li {
  margin-bottom: 15px;
  list-style-type: none;
  font-size: 20px;
}

.cont {
  display: flex;
  align-items: center;
  padding: 50px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-head-foot);
  padding: 0 30px;
  color: var(--color-foot);
}

.left {
  text-align: justify;
  width: 320px;
}

@media (max-width: 900px) {
  header {
    font-size: 9px;
  }

  button {
    margin-top: 20px;
  }

  header a {
    font-size: 9px;
  }

  nav {
    margin-right: 10px;
  }

  section img {
    margin-left: 0;
  }

  .cont {
    display: flex;
    flex-direction: column;
  }

  .sec-data {
    display: flex;
    justify-content: center;
  }

  .sec-data li {
    font-size: 17px;
  }

  .left {
    text-align: left;
    width: 200px;
  }

  .right {
    width: 100px;
  }
}
